
.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.btn-lg {
    width: 80px;
    height: 80px;
    margin: 10px;
    font-size: 40px;
}

#btnEqualTo {
    background-color: darkorange;
    border-color: darkorange;
}

.card {
    width: 480px;
}

#divResult {
    font-size: 40px;
    text-align: left;
    padding-left: 60px
}


/* 在屏幕宽度小于600像素时执行下列样式 */

@media only screen and (max-width: 600px) {
    body {
        min-width: 300px;
    }
    .btn {
        width: 50px;
        height: 50px;
        font-size: 20px;
        margin: 2px;
    }
    .card {
        width: auto;
    }

    #divResult {
        padding-left: 75px;
        font-size: 25px;
    }
}